/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8e6092;
}

/* Header styles */
header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Bot card styles */
.bot-card {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.bot-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.bot-category {
  font-size: 18px;
  color: hsl(130, 53%, 61%);
}

/* Footer styles */
footer {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}